<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="debug" value="true"/>
    <add key="SqlServer" value="(localdb)\MSSQLLocalDB"/>
    <add key="dataBase" value="\Data\Database.mdf"/>
    <add key="userName" value="sa"/>
    <add key="password" value="123456"/>
  </appSettings>
</configuration>